.form-check {
    @extend %position-relative;

    input[type='radio'] {
        + label {
            @extend %d-block;
            cursor: pointer;

            &:before,
            &:after {
                content: '';
                position: absolute;
                border: solid .1rem $nt-primary;
                border-radius: 100%;
            }

            &:before {
                top: .3rem;
                left: 0;
                width: 1.8rem;
                height: 1.8rem;

                @include media-breakpoint-up(md) {
                    top: .5rem;
                }
            }

            &:after {
                top: .6rem;
                left: .3rem;
                width: 1.2rem;
                height: 1.2rem;
                background-color: $nt-primary;

                @include media-breakpoint-up(md) {
                    top: .8rem;
                }
            }
        }

        &:not(:checked) {
            + label {
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}